<a href="https://colab.research.google.com/github/pankajjadhav2505/python/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
#

In [ ]:
df = pd.read_csv('train.csv')
df.head(10)

In [ ]:
pd.set_option('display.max_columns', None)
df.head(10)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.isnull().sum()

In [ ]:
df.duplicated().sum()

In [ ]:
df[df['Age']>=18].count()

In [ ]:
df[df['Fare']>=20].count()

In [ ]:
df[(df['Survived'] == 1) & (df['Sex']== 'male')].count()

In [ ]:
df[(df['Survived'] == 0) & (df['Fare']== 0)].count()

In [ ]:
df.notnull().sum()

In [ ]:
df.dropna(subset = 'Cabin',inplace=True)
df
##delting the null values of specific column usin subset paramiter of drop function

In [ ]:
df['Age'].fillna(df['Age'].mean(),inplace=True)
df.count()

In [ ]:
df['Cabin'].mode()

In [ ]:
df[df['Cabin']== 'B96 B98']

In [ ]:
df['Cabin'].fillna(df['Cabin'].mode()[0])[:301]
df['Cabin'].fillna(df['Cabin'].mode()[1])[301:601]
df['Cabin'].fillna(df['Cabin'].mode()[2])[:601:]

In [ ]:
#whenever we call mode of any column it returens a series therefore while using mode we have to specify the index
most_frequent_value = df["Embarked"].mode()[0]
df['Embarked']Fillna(most_frequent_value,)

In [ ]:
df["Age"].fillna(method = 'ffill')

In [ ]:
df['Cabin'][0:501].fillna(method = 'ffill',inplace=True)
df['Cabin'][501:].fillna(method = 'bfill',inplace=True)

In [ ]:
df.groupby('Sex')['Age'].mean()

In [ ]:
#group by function
#generally use catogorical data;
# it is for groupping data based on one or more column and appling aggreate function

In [ ]:
df.groupby('Sex').size()

In [ ]:
df['Sex'].value_counts()

In [ ]:
groupby_sex = df.groupby('Sex')

In [ ]:
df.groupby('Pclass').agg({'Age':"mean",'Fare':"mean",'Survived':"sum",'PassengerId':"count",'Sex':"count"})

In [ ]:


df.groupby('Pclass')['Age'].agg(['mean', 'min', 'max'])

In [ ]:
df.groupby(['Pclass','Sex']).agg('Survived').sum()

In [ ]:
df.groupby(['Pclass','Embarked'])['Survived'].mean()*100

In [ ]:
df.groupby(['Pclass','Embarked'])['Survived'].mean().plot(kind='line')
plt.show()

In [ ]:

# Histograms
plt.figure(figsize=(12, 6))

plt.subplot(2, 2, 1)
sns.histplot(df['Age'], kde=True)
plt.title('Age Distribution')

plt.subplot(2, 2, 2)
sns.histplot(df['Fare'], kde=True)
plt.title('Fare Distribution')

plt.subplot(2, 2, 3)
sns.countplot(x='Survived', data=df)
plt.title('Survival Count')

plt.subplot(2, 2, 4)
sns.countplot(x='Pclass', data=df)
plt.title('Passenger Class Distribution')

plt.tight_layout()
plt.show()

# Box plots
plt.figure(figsize=(10, 6))
sns.boxplot(x='Pclass', y='Age', data=df)
plt.title('Age Distribution by Passenger Class')
plt.show()

# Scatter plots
plt.figure(figsize=(10, 6))
sns.scatterplot(x='Age', y='Fare', hue='Survived', data=df)
plt.title('Survival based on Age and Fare')
plt.show()

# Violin plots
plt.figure(figsize=(10, 6))
sns.violinplot(x='Sex', y='Age', hue='Survived', data=df, split=True)
plt.title('Survival based on Sex and Age')
plt.show()

# Pairplot
sns.pairplot(df, vars=['Age', 'Fare', 'Pclass'], hue='Survived')
plt.show()

In [ ]:
plt.figure(figsize=(16, 8))  # Adjust the width (16) and height (8) as needed
sns.violinplot(x='Sex', y='Age', hue='Survived', data=df, split=True)
plt.title('Survival based on Sex and Age')
plt.show()

In [ ]:

# Pie chart (example: survival distribution)
survival_counts = df['Survived'].value_counts()
plt.figure(figsize=(6, 6))
plt.pie(survival_counts, labels=['Did Not Survive', 'Survived'], autopct='%1.1f%%', startangle=90)
plt.title('Survival Distribution')
plt.show()

# 3D Scatter plot (example: Age, Fare, and Pclass)
from mpl_toolkits.mplot3d import Axes3D

fig = plt.figure(figsize=(10, 8))
ax = fig.add_subplot(111, projection='3d')

# Map Pclass to numerical values for color mapping
pclass_mapping = {1: 0, 2: 1, 3: 2}
pclass_numeric = df['Pclass'].map(pclass_mapping)

scatter = ax.scatter(df['Age'], df['Fare'], df['Pclass'], c=pclass_numeric, cmap='viridis', alpha=0.7)
ax.set_xlabel('Age')
ax.set_ylabel('Fare')
ax.set_zlabel('Pclass')
ax.set_title('3D Scatter Plot of Age, Fare, and Pclass')

# Add a colorbar
plt.colorbar(scatter, label='Pclass')

plt.show()

In [ ]:
# Scatter plot
plt.figure(figsize=(8, 6))
plt.scatter(df['Age'], df['Fare'], c=df['Survived'], cmap='viridis', alpha=0.7)
plt.xlabel('Age')
plt.ylabel('Fare')
plt.title('Scatter Plot of Age vs. Fare Survival')
plt.colorbar(label='Survived (0 = No, 1 = Yes)')
plt.show()