<a href="https://colab.research.google.com/github/pankajjadhav2505/python/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('weather_data.csv')
df

In [ ]:
df = pd.read_csv('Data.csv')
df

In [ ]:
new_df = df.replace(to_replace = 'Sunny', value = 'Rainy')
new_df

In [ ]:
new_df = df.replace({'temperature':-99999,'windspeed':7-99999,'event':'0'},np.nan)
new_df

In [ ]:
new_df=df.replace({-99999:np.nan,'0':'Sunny'})
new_df

In [ ]:
new_df=df.replace({'temperature':'[A-Za-z]','windspeed':'[a-z]'},'',regex=True)
new_df

In [ ]:
df =pd.DataFrame({
    'score':['exceptional','average','poor','good','average','exceptional'],
    'student':['rob','maya','parthiv','tom','julian','erica']
})
df

In [ ]:
df.replace(['poor','average','good','exceptional'],[1,2,3,4])
#mapping replace

In [ ]:
df = pd.read_csv('weather_by_cities.csv')
df

In [ ]:
df[df['city']=='mumbai']['temperature'].max()

In [ ]:
for city,city_df in df.groupby('city'):
    print(city)
    print(city_df)

In [ ]:
g.get_group('mumbai')
#

In [ ]:
g.max()

In [ ]:
g.mean('event')

In [ ]:
g.describe()
#

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
g.plot()
# plt.show()
#

In [ ]:
def grouper(df,idx,col):
    if 80<=df[col].loc[idx]<90:
        return '80-90'
    elif 70<=df[col].loc[idx]<80:
        return '70-80'
    elif 50<=df[col].loc[idx]<70:
        return 'others'

In [ ]:
g = df.groupby(lambda x:grouper(df,x,'temperature'))
g

In [ ]:
for key,d in g:
    print('groupby keys'.format(key))
    print(d)

In [ ]:
india_weather = pd.DataFrame({"city":["mumbai","delhi","banglore"],"temperature":[32,45,30],"humidity":[80,60,78]})
india_weather

In [ ]:

us_weather = pd.DataFrame({"city":["new york","chicago","orlando"],"temperature":[21,14,35],"humidity":[68,65,75]})
df = pd.concat([india_weather, us_weather],ignore_index=True)
df

In [ ]:
temperature_df = pd.DataFrame({"city":["mumbai","delhi","banglore"],"temperature":[32,45,30]},index=[7,12,5])
temperature_df

In [ ]:
humidity_df = pd.DataFrame({"city":["delhi","mumbai","banglore"],"humidity":[68,65,75]},index=[12,7,5])
df = pd.concat([temperature_df,humidity_df],axis=1)
df

In [ ]:
df1 = pd.Series(['humid','dry','rain'],name='event')
df1 = pd.concat([temperature_df,df1],axis=1)
df1

In [ ]:
df2 = pd.DataFrame({
    "city":["mumbai","delhi","banglore"],
    "temperature":[32,45,30]
    })
df2

In [ ]:
df3 = pd.DataFrame({
    "city":["chicago","newyork","orlando"],
    "humidity":[68,65,75]
    })
df3

In [ ]:
df4 = pd.merge(df1,df2,on="city")
df4

In [ ]:
df3 = pd.DataFrame({
    "city":["chicago","newyork","san diego"],
    "humidity":[78,55,73]
    })
df3

In [ ]:
df4 = pd.merge(df1,df2,on="city",how="outer")
df4